@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}
@theme{
    --color-primary: #ff7f00;
    --color-primary-dull: #c66205;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}